#container {
   text-align: center;
   margin-top: 35vh;
}

h1 {
   color:violet;
}

#para{
   color:brown
}
h2 {
   color:aquamarine;
}
h3 {
   color:aqua;
}
h4 {
   color:blueviolet;
}
li {
   color:red;
}
